@inherits LayoutComponentBase
@inject IJSRuntime JS

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @* <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div> *@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool _isFirstRender = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Restore the scroll position if this is the initial render after prerendering
            await JS.InvokeVoidAsync("scrollHelper.restoreScrollPosition");
            _isFirstRender = false;
        }
        else
        {
            // Save the scroll position on each re-render after the initial render is complete
            await JS.InvokeVoidAsync("scrollHelper.saveScrollPosition");
        }
    }
}