@page "/"

<PageTitle>BLStats</PageTitle>

<h1>Beer League Stats Site</h1>

<h2 class="byline">by <a href="https://github.com/bunnycou/" target="_blank">bunnycou</a></h2>

<h2>Check out <a href="/allseries">recent series here!</a></h2>

<h2>Watch the <a href="https://www.youtube.com/@("@thebeerleagueoflegends")" target="_blank">Beer League VOD Archive</a></h2>
