table {
    background-color: lightgray;
    border: solid;
    width: 40vw;
}

td a, th a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: inherit;
}

div.match {
    display: flex;
    justify-content: space-evenly;
}

td {
    padding-right: 10px;
}

td.win {
    float: right;
}

th.centerHead {
    text-align: center;
}

td.runes {
    position: relative;
}

img.primaryRune {
    width: 32px;
    height: 32px;
    position: relative;
}
img.secondaryRune {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 4px;
    bottom: 4px;
}

td.ban {
}

td.dmg {
    text-align: right;
}

td.cs {
    text-align: right;
}

td.kda {
    text-align: right;
}

th {
    border-bottom: solid;
}

table.blue {
    border-color: #0094ff;
}

th.win {
    text-align: right;
    padding-right: 4px;
}

table.team td {
    border-top: solid;
}

table.blue th {
    color: #0094ff;
}

table.blue td {
    border-color: #0094ff;
}

table.red {
    border-color: #ff0000;
}

table.red th {
    color: #ff0000;
}

table.red td {
    border-color: #ff0000;
}

p.GameTime {
    font-size: 2em;
}

p.CellContent {
    float: left;
    padding-top: 4px;
    padding-left: 4px;
}

p.VisionScore {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    float: left;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
    margin: 0;
    padding-top: 2px;
}

img {
    width: 32px;
    height: 32px;
    float: left;
}